.linking {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.bg-image {
  background: url('img/RB_Dig_KIQuiz_stage_00_image_caption_none.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}


.option-Btn {
  border: 2px solid rgb(4, 6, 21) !important;
  background-color:rgba(27,136,185,0.5) !important;
  border-radius: 4px !important;
  color: aliceblue !important;
}
.option-Btn:hover {
  border: 2px solid rgb(4, 6, 21) !important;
  background-color:rgb(27,136,185) !important;
  border-radius: 4px !important;
  color: aliceblue !important;
}
.correct {
  border: 2px solid rgb(4, 6, 21) !important;
  background-color: rgb(4, 6, 21) !important;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
}